@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
    --primary: #1b262c;
    --secondary: #0f4c75;
    --tertiary: #3282b8;
    --quaternary: #bbe1fa;
    --dark-secondary: #0f4c75;
    --btn: #1571ae;
    --line: #b8a5a5;
  }
}

@layer utilities {
  .size-screen {
    @apply h-screen w-screen;
  }
  .size-full {
    @apply h-full w-full;
  }
  .flex-center {
    @apply flex items-center justify-center;
  }
  .flex-start {
    @apply flex items-center justify-start;
  }
  .main-container {
    @apply w-full sm:w-[600px] md:w-[750px] lg:w-[1000px] xl:w-[1300px];
  }
  .size-icon {
    @apply h-12 w-12;
  }

  .dark-container {
    @apply select-none border-quaternary bg-gray-800 text-quaternary;
  }

  .dark-input {
    @apply border-quaternary bg-secondary text-quaternary !placeholder-quaternary transition-all focus:!placeholder-gray-400;
  }
}

.tool__bar {
  display: grid;
  grid-template-columns: auto;
  grid-auto-flow: column;
  gap: 0.5rem;
}
